# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_20KEY_DONGLE
	def_bool $(shields_list_contains,20key_dongle)

config SHIELD_20KEY
	def_bool $(shields_list_contains,20KEY)
